<div id="main" class="login">
	<div id="gap"></div>
	
	<div class="home_window">
		<div id="logo" class="label">GOTCHA!</div>
		<form metod="post" name="formLogin">				
			<input name="username" type="text" placeholder="Username"><br/>
			<input name="password" type="password" placeholder="Password"><br/>
		</form> 
		<div class="buttons">
			<a class="button big" onclick="gotchaLogin.loginCheckData();return false;">Login</a>
			<a class="button blue" onclick="gotchaLogin.facebookLogin();return false;"><span>f</span> | Login With Facebook</a>
			<a class="button" onclick="gotchaLogin.loginTempPasswordForm();return false;">Login With Temporary Password</a>
		</div>
	</div>
	
	

	<!--button class="facebook">f   |  Login with Facebook</button><br/-->
</div>

<div id="loginfooter">
	Non hai un account ? <a href="#registrazione">Registrati ora</a><br/>
	Hai dimenticato la Password ? <a href="##" onclick="gotchaLogin.forgotPassword();return false;">Clicca qui</div><br/>		
</div>

</div>
