<header>
	<div id="logo">
		GOTCHA!
	</div>
	
	<div id="menu">
		<a class="button small" href="#home">Back</a>
	</div>
	
	<div style="clear:both;"></div>
</header>


<div id="main" class="target">
	
	<div style="clear:both;"></div>
	
	<div id="file_gotcha">
		
		<div class="photo">
			<img id="targetAvatar" src="img/pic.png"/>
		</div>
		
		<div id="home_userdetails">
			<div id="accountname">Target Name</div>
		</div>
		
		<div style="clear:both;"></div>
	</div>
	
	<div id="file_infos" class="home_window">
		<div class="label">ACCOUNT INFORMATIONS</div>
		<div class="info_label">Nickname</div>
		<div id="profilevalueusername" class="info_value">nickname</div>
		<div class="info_label">Full Name</div>
		<div id="profilevaluefirstname" class="info_value" onclick="gotchaHome.profileUpdate('firstname')">Nome Completo</div>
		<div class="info_label">Hair Color</div>
		<div id="profilevaluehaircolor" class="info_value" onclick="gotchaHome.profileUpdate('haircolor')">Some Color</div>
		<div class="info_label">Eyes Color</div>
		<div id="profilevalueeyescolor" class="info_value" onclick="gotchaHome.profileUpdate('eyescolor')">Some Color</div>
		<div class="info_label">Height</div>
		<div id="profilevalueheight" class="info_value" onclick="gotchaHome.profileUpdate('height')">180cm</div>
		<div class="info_label">Distinguishing Marks</div>
		<div id="profilevaluesigns1" class="info_value" onclick="gotchaHome.profileUpdate('signs1')">First Mark</div>
		<div id="profilevaluesigns2" class="info_value" onclick="gotchaHome.profileUpdate('signs2')">Second Mark</div>
		<div class="info_label">Control Zones</div>
		<div id="profilevaluezone1" class="info_value" onclick="gotchaHome.profileUpdate('zone1')">First Zone</div>
		<div id="profilevaluezone2" class="info_value" onclick="gotchaHome.profileUpdate('zone2')">Second Zone</div>
		
		<div style="clear:both;"></div>
	</div>






<!-- <header><titlehome>G o t c h a !</titlehome></header>  -->

<!-- <div id="main" class="profile"> -->
<!-- 	<div id="profileleft"> -->
<!-- 		<div id="profileattributeusername" class="profileattribute"><attribute>Nickname :</attribute></div> -->
<!-- 		<div id="profileattributefirstname" class="profileattribute"><attribute>First Name :</attribute></div> -->
<!-- 		<div id="profileattributehaircolor"class="profileattribute"><attribute>Hair Color :</attribute></div> -->
<!-- 		<div id="profileattributeeyescolor"class="profileattribute"><attribute>Eyes Color :</attribute></div> -->
<!-- 		<div id="profileattributeheight" class="profileattribute"><attribute>Height :</attribute></div> -->
<!-- 		<div id="profileattributesegni" class="profileattribute big"> -->
<!-- 			<div class="attribute">Segni <br> Particolari</div> -->
<!-- 			<div class="numbers">I</div><br> -->
<!-- 			<div class="numbers">II</div> -->
<!-- 		</div> -->
<!-- 		<div id="profileattributezone" class="profileattribute big"> -->
<!-- 			<div class="attribute">Zone di <br> Controllo</div> -->
<!-- 			<div class="numbers">I</div><br> -->
<!-- 			<div class="numbers">II</div> -->
<!-- 		</div> -->
<!-- 	</div> -->

<!-- 	<div id="profileright"> -->
<!-- 		<div id="profilevalueusername" class="profilevalue"></div> -->
<!-- 		<div id="profilevaluefirstname" class="profilevalue" onclick="gotchaHome.profileUpdate('firstname')"></div> -->
<!-- 		<div id="profilevaluehaircolor" class="profilevalue" onclick="gotchaHome.profileUpdate('haircolor')"></div> -->
<!-- 		<div id="profilevalueeyescolor" class="profilevalue" onclick="gotchaHome.profileUpdate('eyescolor')"></div> -->
<!-- 		<div id="profilevalueheight" class="profilevalue" onclick="gotchaHome.profileUpdate('height')"></div> -->
<!-- 		<div id="profilevaluesigns1" class="profilevalue" onclick="gotchaHome.profileUpdate('signs1')"></div> -->
<!-- 		<div id="profilevaluesigns2" class="profilevalue" onclick="gotchaHome.profileUpdate('signs2')"></div> -->
<!-- 		<div id="profilevaluezone1" class="profilevalue" onclick="gotchaHome.profileUpdate('zone1')"></div> -->
<!-- 		<div id="profilevaluezone2" class="profilevalue" onclick="gotchaHome.profileUpdate('zone2')"></div> -->
<!-- 	</div> -->
<!-- </div> -->

<!-- <footer> -->
<!-- 	<a id="backToHome" href="#home" class="button back black profile"><span class="pointer"></span><span>Back to home</span></a>	 -->
<!-- </footer> -->