
<header>
	<div id="logo">
		GOTCHA!
	</div>
	
	<div id="menu">
		<a class="button small" href="#target">Target</a>
		<a class="button small" href="#home">Home</a>
	</div>
	
	<div style="clear:both;"></div>
</header>

<div id="main" class="accountstats">


	<div id="stats_ranking" class="home_window">
		<div class="label">MY RANKING POSITION</div>
		<div class="row first">. . .</div>
		<div id="accountstatsrankbeforeme" class="row">nickname: <b>000</b></div>
		<div id="accountstatsrankme" class="row my">ME: <b>000 Points</b></div>
		<div id="accountstatsrankafterme" class="row">nickname: <b>000</b></div>
		<div class="row last">. . .</div>
		<div style="clear:both;"></div>
		<a class="button small" href="#globalstats">Global Stats</a>
		<div class="info">USE THEM WISELY TO GET TO THE TARGET</div>
	</div>

	<div id="stats_infos" class="home_window">
		<div class="label">MY SCORE POINTS</div>
		<div id="count_score" class="item">999</div>
		<div class="info">SPIEGAZIONE PUNTI</div>
	</div>

	<div id="stats_infos" class="home_window">
		<div class="label">MY REWARD POINTS</div>
		<div id="count_reward" class="item">999</div>
		<div class="info">SPIEGAZIONE PUNTI</div>
	</div>

	<div id="stats_infos" class="home_window">
		<div class="label">MY GOTCHA!</div>
		<div id="count_gotcha" class="item">999</div>
		<div class="info">SPIEGAZIONE PUNTI</div>
	</div>

	<div id="stats_infos" class="home_window">
		<div class="label">MY TARGET POINTS</div>
		<div id="count_target" class="item">999</div>
		<div class="info">SPIEGAZIONE PUNTI</div>
	</div>


	<!--br><rank>Ranking</rank>
	<div id="accountstatsrankbeforeme">
	</div>
	<div id="accountstatsrankme">
	</div>
	<div id="accountstatsrankafterme">
	</div>
	<div id="accountstatsscore">
		<div class="etiquette">My Score</div>
	</div>
	<div id="accountstatsreward">
		<div class="etiquette">My Reward</div>
	</div>
	<div id="accountstatsgotcha">
		<div class="etiquette">My Gotcha!</div>
	</div>
	<div id="accountstatstarget">
		<div class="etiquette">My Target Point</div>
	</div>
	<div id="accountstatsglobalbutton">
		<a href="#globalstats"><button class="button black">Global Stats</button></a>
	</div-->
</div>


<script>gotchaAccountStats.loadData()</script>