<header><titlehome>G o t c h a !</titlehome></header> 

<div id="main" class="accountstats">
	<br><rank>Ranking</rank>
	<div id="accountstatsrankbeforeme">
	</div>
	<div id="accountstatsrankme">
	</div>
	<div id="accountstatsrankafterme">
	</div>
	<div id="accountstatsscore">
		<div class="etiquette">My Score</div>
	</div>
	<div id="accountstatsreward">
		<div class="etiquette">My Reward</div>
	</div>
	<div id="accountstatsgotcha">
		<div class="etiquette">My Gotcha!</div>
	</div>
	<div id="accountstatstarget">
		<div class="etiquette">My Target Point</div>
	</div>
	<div id="accountstatsglobalbutton">
		<a href="#globalstats"><button class="button black">Global Stats</button></a>
	</div>
</div>

<footer>
	<a href="#home"><img class="linkhome" src="img/linkhome.png"></a>
	<a href="#target"><img class="linktarget" src="img/linktarget.png"></a>
	<a href="#accountstats"><img class="linkaccountstats" src="img/linkstats.png"></a>
</footer>

<script>gotchaAccountStats.loadData()</script>