<header><titlehome>G o t c h a !</titlehome></header> 

<div id="main" class="globalstats">
	<br><rank>Global Ranking</rank>
	<div id="globalstatsbestrank">
	</div>
	<div id="globalstatssecondrank">
	</div>
	<div id="globalstatstirthrank">
	</div>
	<div id="globalstatsbestscore">
		<div class="etiquette">Best Player Score</div>
	</div>
	<div id="globalstatsbestreward">
		<div class="etiquette">Best Player Reward</div>
	</div>
	<div id="globalstatsbestgotcha">
		<div class="etiquette">Best Player Gotcha</div>
	</div>
	<div id="globalstatsbesttarget">
		<div class="etiquette">Best Player Target</div>
	</div>
</div>

<footer>
	<a href="#accountstats" class="button back black profile"><span class="pointer"></span><span>Back to home</span></a>
</footer>

<script>gotchaGlobalStats.loadData()</script>