
<header>
	<div id="logo">
		GOTCHA!
	</div>
	
	<div id="menu">
		<a class="button small" href="#accountstats">Back</a>
	</div>
	
	<div style="clear:both;"></div>
</header>

<div id="main" class="accountstats">


	<div id="stats_ranking" class="home_window">
		<div class="label">TOP 3 RANKING POSITIONS</div>
		<div id="globalstatsbestrank" class="row my">nickname: <b>000 Points</b></div>
		<div id="globalstatssecondrank" class="row">nickname: <b>000</b></div>
		<div id="globalstatstirthrank" class="row">nickname: <b>000</b></div>
		<div class="row last">. . .</div>
		<div style="clear:both;"></div>
		<a class="button small" href="#accountstats">My Stats</a>
		<div class="info">GET MORE POINTS TO SEE YOUR NAME HERE</div>
	</div>
	
	<div id="stats_infos" class="home_window">
		<div class="label">BEST PLAYER SCORE</div>
		<div id="count_score" class="name">nickname</div>
		<div id="count_score" class="item">999</div>
		<div class="info">SPIEGAZIONE PUNTI</div>
	</div>
	
	<div id="stats_infos" class="home_window">
		<div class="label">BEST PLAYER REWARDS</div>
		<div id="count_reward" class="name">nickname</div>
		<div id="count_reward" class="item">999</div>
		<div class="info">SPIEGAZIONE PUNTI</div>
	</div>
	
	<div id="stats_infos" class="home_window">
		<div class="label">BEST PLAYER GOTCHA!</div>
		<div id="count_gotcha" class="name">nickname</div>
		<div id="count_gotcha" class="item">999</div>
		<div class="info">SPIEGAZIONE PUNTI</div>
	</div>
	
	<div id="stats_infos" class="home_window">
		<div class="label">BEST PLAYER TARGET</div>
		<div id="count_target" class="name">nickname</div>
		<div id="count_target" class="item">999</div>
		<div class="info">SPIEGAZIONE PUNTI</div>
	</div>

	
	
	<!--br><rank>Global Ranking</rank>
	<div id="globalstatsbestrank">
	</div>
	<div id="globalstatssecondrank">
	</div>
	<div id="globalstatstirthrank">
	</div>
	<div id="globalstatsbestscore">
		<div class="etiquette">Best Player Score</div>
	</div>
	<div id="globalstatsbestreward">
		<div class="etiquette">Best Player Reward</div>
	</div>
	<div id="globalstatsbestgotcha">
		<div class="etiquette">Best Player Gotcha</div>
	</div>
	<div id="globalstatsbesttarget">
		<div class="etiquette">Best Player Target</div>
	</div-->
</div>

<script>gotchaGlobalStats.loadData()</script>